<a href="https://colab.research.google.com/github/KatiaKudinova/Data-analysis-with-Python/blob/main/Working_with_NumPy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")
%cd /content/drive/MyDrive/DA Python
import pandas as pd
import numpy  as np
df = pd.read_csv("adult.csv")
print(df.head())

Mounted at /content/drive
/content/drive/MyDrive/DA Python
   Unnamed: 0  age         workclass  education      marital-status  \
0           0   39         State-gov  Bachelors       Never-married
1           1   50  Self-emp-not-inc  Bachelors  Married-civ-spouse
2           2   38           Private    HS-grad            Divorced
3           3   53           Private       11th  Married-civ-spouse
4           4   28           Private  Bachelors  Married-civ-spouse

          occupation   relationship   race     sex  hours-per-week  \
0       Adm-clerical  Not-in-family  White    Male              40
1    Exec-managerial        Husband  White    Male              13
2  Handlers-cleaners  Not-in-family  White    Male              40
3  Handlers-cleaners        Husband  Black    Male              40
4     Prof-specialty           Wife  Black  Female              40

  native-country salary  salary K$
0  United-States  <=50K         39
1  United-States  <=50K         35
2  United-States  <=50K         27
3  United-States  <=50K         43
4           Cuba  <=50K         25

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      32561 non-null  int64
 1   age             32561 non-null  int64
 2   workclass       32561 non-null  object
 3   education       32561 non-null  object
 4   marital-status  32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   race            32561 non-null  object
 8   sex             32561 non-null  object
 9   hours-per-week  32561 non-null  int64
 10  native-country  32561 non-null  object
 11  salary          32561 non-null  object
 12  salary K$       32561 non-null  int64
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

In [3]:
df.replace("?", np.nan, inplace=True)
print(df.isna().sum())
df = df.dropna()
salary_df = df[(df["salary K$"] <= 50) & (df["salary"] == '<=50K')]
salary_df_50 = df[(df["salary K$"] > 50) & (df["salary"] == '>50K')]
all_correct = len(df) == (len(salary_df) + len(salary_df_50))
print(f"All rows meet the condition: {all_correct}")

Unnamed: 0           0
age                  0
workclass         1836
education            0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
hours-per-week       0
native-country     583
salary               0
salary K$            0
dtype: int64
All rows meet the condition: True

В стовпцях зарплата та зарплата у $K дані узгоджені.

In [4]:
print(df['sex'].value_counts())
print(f"average age of male {df[df['sex'] == 'Male']['age'].mean():.2f}")
count_people_from_Poland = df[df['native-country'] == 'Poland']['native-country'].count()
print(f"% people from Poland {count_people_from_Poland / df['native-country'].count() * 100}")

sex
Male      20380
Female     9782
Name: count, dtype: int64
average age of male 39.18
% people from Poland 0.18566408063125786

In [5]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
is_non_education = len(df[~df['education'].isin(higher_education) & (df['salary'] == '>50K')]) > 0
print(f"Are there people without higher education but with a salary over 50K? {is_non_education}")

Are there people without higher education but with a salary over 50K? True

In [6]:
print(df.groupby("education")['age'].describe())

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

In [7]:
men = df[df["sex"] == "Male"]
married_men = men[men["marital-status"].str.startswith("Married")]
unmarried_men = men[~men["marital-status"].str.startswith("Married")]
married_high_income = (married_men["salary"] == ">50K").mean()
unmarried_high_income = (unmarried_men["salary"] == ">50K").mean()
married_high_income = (married_men["salary"] == ">50K").mean()
unmarried_high_income = (unmarried_men["salary"] == ">50K").mean()
print(f"Одружені чоловіки, % з >50K: {married_high_income * 100:.2f}%")
print(f"Неодружені чоловіки, % з >50K: {unmarried_high_income * 100:.2f}%")

Одружені чоловіки, % з >50K: 44.80%
Неодружені чоловіки, % з >50K: 8.85%

Одружені чоловіки заробляють більше ніж неодружені

In [8]:
max_hours = df["hours-per-week"].max()
people_max_hours = df[df["hours-per-week"] == max_hours]
count_people = len(people_max_hours)
print(f"Максимальна кількість годин на тиждень: {max_hours}")
print(f"Кількість людей, які працюють стільки годин: {count_people}")

Максимальна кількість годин на тиждень: 99
Кількість людей, які працюють стільки годин: 78